BUNDLE_ID=com.yourname.codexbar.monterey
APP_VERSION=0.1.0
BUILD_NUMBER=1
APPCAST_URL=https://raw.githubusercontent.com/YOUR_GITHUB_USER/YOUR_REPO/main/appcast.xml
SPARKLE_PUBLIC_KEY=PASTE_GENERATE_KEYS_PUBLIC_KEY_HERE
CODE_SIGN_IDENTITY=-
